<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanke.echomusic.mapper.PlaylistMapper">
    
    <select id="searchPlaylists" resultType="com.lanke.echomusic.vo.playlist.PlaylistListVO">
        SELECT 
            p.id,
            p.name,
            p.description,
            p.cover_url as coverUrl,
            p.user_id as userId,
            u.username as creatorName,
            p.song_count as songCount,
            p.play_count as playCount,
            p.collect_count as collectCount,
            p.is_public as isPublic,
            p.music_type as musicType,
            CASE p.music_type
                WHEN 1 THEN '华语流行'
                WHEN 2 THEN '欧美流行'
                WHEN 3 THEN '日韩流行'
                WHEN 4 THEN '古典音乐'
                WHEN 5 THEN '民谣'
                WHEN 6 THEN '摇滚'
                WHEN 7 THEN '电子音乐'
                WHEN 8 THEN '说唱'
                WHEN 9 THEN '爵士'
                WHEN 10 THEN '其他'
                ELSE '未分类'
            END as musicTypeName,
            p.playlist_category as playlistCategory,
            CASE p.playlist_category
                WHEN 1 THEN '个人歌单'
                WHEN 2 THEN '精选歌单'
                WHEN 3 THEN '推荐歌单'
                WHEN 4 THEN '官方歌单'
                WHEN 5 THEN '主题歌单'
                ELSE '未分类'
            END as playlistCategoryName,
            p.create_time as createTime,
            p.update_time as updateTime
        FROM l_playlist p
        LEFT JOIN l_user u ON p.user_id = u.id
        <where>
            <if test="dto.name != null and dto.name != ''">
                AND p.name LIKE CONCAT('%', #{dto.name}, '%')
            </if>
            <if test="dto.creatorName != null and dto.creatorName != ''">
                AND u.username LIKE CONCAT('%', #{dto.creatorName}, '%')
            </if>
            <if test="dto.isPublic != null">
                AND p.is_public = #{dto.isPublic}
            </if>
            <if test="dto.musicType != null">
                AND p.music_type = #{dto.musicType}
            </if>
            <if test="dto.playlistCategory != null">
                AND p.playlist_category = #{dto.playlistCategory}
            </if>
        </where>
        <choose>
            <when test="dto.orderBy == 'updateTime'">
                ORDER BY p.update_time
            </when>
            <when test="dto.orderBy == 'playCount'">
                ORDER BY p.play_count
            </when>
            <when test="dto.orderBy == 'collectCount'">
                ORDER BY p.collect_count
            </when>
            <otherwise>
                ORDER BY p.create_time
            </otherwise>
        </choose>
        <choose>
            <when test="dto.orderDirection == 'asc'">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
    </select>
    
</mapper>
